

<mat-drawer-container class="example-container">
    <mat-drawer class="m1" mode="side" opened>
     
     <h1 class="h"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Logo</h1><br>
      <h1 class = "h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="material-icons">dashboard</span>DashBoard</h1><br>
      <h1 class = "h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Opex-Budget Entry</h1><br>
      <h1 class = "h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Capex-Next Year</h1><br>
      <h1 class = "h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Capex-Current Year</h1><br>
      <h1 class = "h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Revenue</h1><br>
  
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar color="primary">
  
        <span class="s1">OAMC</span>
        <span class="example-spacer"></span>
       
      </mat-toolbar>
      <br>
      
  
       &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        <div cols="6" class="example-spacer1">
          <span>
          <h3 class = "h2">&nbsp;&nbsp;Opex Budget Entry</h3></span>
     
       
        </div>
     
  
      <br>
      <br>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>BudgetId</mat-label>
      <input type="text" matInput  placeholder="">
    </mat-form-field> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Division</mat-label>
      <input type="text" matInput  placeholder="">
    </mat-form-field><br>
      <mat-form-field>
      <mat-label>BudgetVersion</mat-label>
      <input type="text" matInput  placeholder="">
    </mat-form-field> 
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input type="text" matInput  placeholder="">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>BudgetYear</mat-label>
      <input type="text" matInput  placeholder="">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>CuurentYear</mat-label>
      <input type="text" matInput  placeholder="">
    </mat-form-field><br>
    <mat-form-field>
      <mat-label>Company</mat-label>
      <input type="text" matInput  placeholder="">
    </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>CurrentMonth</mat-label>
      <input type="text" matInput  placeholder="">
  
  </mat-form-field><br>
  
  </form>
  
      
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  
  
  
  
  
  
  <button mat-raised-button color="primary" class="example-button-row">
     <span class="material-icons">save</span>&nbsp;Save</button>
  &nbsp;
  <button mat-raised-button color="primary" class="button-row1">
    <span class='material-icons'>edit_note</span>&nbsp; Clear</button><br>
  <mat-divider></mat-divider>
  
  </mat-drawer-content>
  </mat-drawer-container>
  
      
   
